body {
  background-color: #000;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
}

.title {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 5rem;
  letter-spacing: 0.5rem;
  color: #f00;
}

.link {
  margin-top: 100px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th {
  padding: 20px;
}

a {
  color: #fff;
}

a:hover {
  color: #f00;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.dmytro {
  font-size: 1rem;
}
